.popUpContainer {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.651);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popUp {
  width: 350px;
  background-color: var(--neutral-white);
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.popUp.dark {
  background-color: var(--neutral-black);
}

.popUp__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.popUp__top__h2 {
  font-size: 2rem;
  color: var(--neutral-black);
}

.popUp__top__h2.dark {
  color: var(--neutral-white);
}

.popUp__top__icon {
  font-size: 2.4rem;
  cursor: pointer;
  color: var(--neutral-grey);
}

.popUp__user {
  display: flex;
  align-items: center;
  column-gap: 5px;
  /* margin-top: 15px; */
}

.popUp__user__name {
  color: var(--neutral-black);
  font-weight: 700;
}

.popUp__user__name.dark {
  color: var(--neutral-white);
}

.popUp__input {
  margin-top: 5px;
  border: none;
  resize: none;
  width: 100%;
  height: 100%;
  padding: 5px;
  border-radius: 5px;
}

.popUp__input.dark {
  background-color: transparent;
  color: var(--neutral-white);
}

.popUp__input:focus {
  outline: none;
}

.popUp__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popUp__bottom__input {
  color: var(--neutral-grey);
  border: none;
  width: 100%;
}

.popUp__bottom__input.dark {
  background-color: transparent;
  color: var(--neutral-white);
}

.popUp__bottom__input:focus {
  outline: none;
}

.popUp__bottom__btn {
  color: var(--neutral-white);
  border: none;
  padding: 7px 10px;
  margin-left: 7px;
  background-color: var(--neutral-grey);
  border-radius: 12px;
  cursor: pointer;
  font-weight: 500;
}

.popUp__bottom__btn.dark {
  color: var(--neutral-grey);
  background-color: var(--neutral-white);
}

.popUp__input__error__msg {
  color: red;
}

@media screen and (min-width: 1224px) {
  .popUp {
    width: 450px;
    height: 250px;
  }
}
