.mainDashboardBg {
  background-color: var(--pale-white);
}

.mainDashboardBg.dark {
  background-color: var(--dark-black);
}

.mainDashboard {
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  min-height: 91vh;
}

@media screen and (min-width: 1224px) {
  .mainDashboard {
    flex-direction: row;
    justify-content: unset;
    align-items: unset;
    column-gap: 20px;
  }
}
