.postsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  /* margin: 0 auto; */
  width: 350px;
}

.startPost {
  width: 100%;
  background-color: var(--neutral-white);
  padding: 10px;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.startPost.dark {
  background-color: var(--neutral-black);
}

.startPost__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 15px;
}

.post__icon {
  font-size: 4rem;
  padding: 7px;
  border: 2px solid var(--neutral-black);
  border-radius: 50%;
}

.post__icon.dark {
  color: var(--neutral-white);
  border-color: var(--neutral-white);
}

.startPost__top__btn {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid var(--light-grey);
  outline: none;
  font-weight: 500;
  background-color: transparent;
  color: black;
  cursor: pointer;
}

.startPost__top__btn.dark {
  background-color: transparent;
  color: var(--neutral-white);
}

.startPost__bottom {
  display: flex;
  justify-content: space-evenly;
}

.startPost__bottom__iconContainer {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

.startPost__bottom__iconContainer__icon {
  font-size: 2.3rem;
}

.startPost__bottom__iconContainer__para {
  color: var(--neutral-black);
  font-weight: 500;
}

.startPost__bottom__iconContainer__para.dark {
  color: var(--light-grey);
}

/* Post card*/
.post {
  width: 100%;
  border-radius: 5px;
  padding: 15px;
  background-color: var(--neutral-white);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.post.dark {
  background-color: var(--neutral-black);
}

.post__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post__top__left {
  display: flex;
  column-gap: 10px;
}

.post__top__right__icon {
  font-size: 2.5rem;
  color: var(--neutral-grey);
}

.post__top__left__userContainer__name {
  color: var(--neutral-black);
  font-weight: 700;
}

.post__top__left__userContainer__name.dark {
  color: var(--neutral-white);
}

.post__top__left__userContainer__email {
  color: var(--neutral-grey);
}

.post__top__left__userContainer__time {
  color: var(--neutral-grey);
}

.post__textPost {
  font-size: 1.4rem;
  line-height: 20px;
  margin: 10px 0;
}

.post__textPost.dark {
  color: var(--neutral-white);
}

.post__lineSeparation {
  width: 100%;
  height: 1px;
  background-color: var(--neutral-grey);
  margin-bottom: 10px;
}

.post__bottom {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.post__bottom__iconContainer {
  display: flex;
  align-items: center;
  column-gap: 5px;
  cursor: pointer;
}

.post__bottom__iconContainer__icon {
  font-size: 2.4rem;
  color: var(--neutral-grey);
}

.post__bottom__iconContainer__icon.dark {
  color: var(--neutral-white);
}

.post__bottom__iconContainer__para {
  color: var(--neutral-grey);
  font-weight: 700;
}

.post__bottom__iconContainer__para.dark {
  color: var(--neutral-white);
}

@media screen and (min-width: 1224px) {
  .postsContainer {
    flex: 0.5;
  }
}
