.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 40px;
    margin-bottom: 50px;
}

.header__img{
    width: 150px;
}

.header > a{
    padding: 7px 15px;
    border-radius: 15px;
    border: 1px solid var(--main-blue);
    font-weight: 500;
}

.header__navbar{
    display: none; /*pas visible au format tel et tablette*/
    margin-left: auto;
    margin-right: 40px;
}

.header__navbar__items__container{
    display: flex;
    column-gap: 40px;
    position: relative;
}

.header__navbar__items__container::after{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.356);
    right: -7%;
    bottom: 0;
}

.header__navbar__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5px;
    cursor: pointer;
}

.header__navbar__item__icon,
.header__navbar__item__para{
    color: var(--neutral-grey);
}

.header__navbar__item__icon{
    font-size: 2.8rem;
}

.header__navbar__item__para{
    font-size: 1.3rem;
}


.mainDashboard{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}

.mainDashboard__text{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    flex: 0.5;
}

.mainDashboard__h1{
    text-align: left;
    width: 300px;
    color: var(--neutral-brown);
    font-weight: 400;
    font-size: 2.5rem;
}

.mainDashboard__item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.mainDashboard__h2{
    font-weight: 400;
    color: var(--neutral-black);
    font-size: 1.8rem;
}

.mainDashboard__icon{
    color: var(--neutral-black);
    font-size: 2.3rem;
}

.mainDashboard__backgroundImg{
    flex: 0.5;
    background-image: url("../public/Landing-Page-Stock-Image.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Laptop screen */
@media screen and (min-width: 1224px) {
    .header__navbar{
        display: initial;
    }
}