@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

li, ul{
    list-style-type: none;
}

:root{
    font-size: 10px;
    --main-blue: #0a66c2;
    --neutral-brown: #e7a33e;
    --neutral-white: #ffffff;
    --neutral-black: #191919;
    --neutral-grey: #666666;
}

a{
    font-size: 1.4rem;
    color: var(--main-blue);
}

p{
    font-size: 1.3rem;
}

